.DS_Store
Thumbs.db

#C/C++ Exclusions
.d
.o
.ko
.i
.obj

.so
.s
.dll
.dylib

.mod
.smod

.as
.asm
.a
.lib

.gch
.pch

.lo
.slo
.libs/

CMakeFiles/
CmakeCache.txt
cmake_install.cmake
Makefile
CMakeLists.txt.user
CTestTestfile.cmake
cmake-build-debug

#Rust Exclusions
*.log
*.exe
*.out
*.app

/target/
/target/doc/
*.crate
*.rs.bk

#Go Exclusions
.test
vet.out
